* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 41px 0px 43px 0px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 56px;
}
nav ul a {
  text-decoration: none;
  color: #000000;
  font-family: "Crimson Text";
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}
.shop-now-btn {
  border: 1px solid #5a5a5a;
  background: transparent;
  font-family: Crimson Text;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  padding: 22px 107px;
  margin-top: 67px;
  cursor: pointer;
}

#spring-summer-2020 {
  width: 100%;
  height: 874px;
  background: url("/assets/images/image 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
#spring-summer-2020 .spring-summer-summary h1 {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-size: 70px;
  line-height: 90.99px;
  color: #ffffff;
  width: 723px;
  margin: auto;
  margin-bottom: 27px;
}
#spring-summer-2020 .spring-summer-summary button {
  border: 4px solid #ffffff;
  width: 300px;
  height: 67px;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
}

#new-arrivals {
  padding: 157px 0px;
  margin-bottom: 150px;
  width: 100%;
  height: 90vh;
}
#new-arrivals .new-arrivals-header {
  display: flex;
  justify-content: space-between;
}
#new-arrivals .new-arrivals-header h1 {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.49px;
  display: inline-block;
}
#new-arrivals .new-arrivals-header a {
  text-decoration: none;
  font-family: "Crimson Text", serif;
  font-size: 17px;
  line-height: 22.1px;
  color: #7a7a7a;
}
#new-arrivals .new-arrivals-items {
  padding-top: 27px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 63px;
}
#new-arrivals .new-arrivals-items .new-arrivals-item img {
  padding-bottom: 30.78px;
  width: 250px;
  height: 375.22px;
}
#new-arrivals .new-arrivals-items .new-arrivals-item p {
  width: 293px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
#new-arrivals .new-arrivals-items .new-arrivals-item p:last-child {
  padding-top: 10px;
}

#spring-summer-campaign .spring-summer-campaign-summary {
  display: flex;
}
#spring-summer-campaign .spring-summer-campaign-summary img {
  width: 500px;
  height: 750.44px;
}
#spring-summer-campaign .spring-summer-campaign-summary .spring-summer-campaign-summary-items .spring-summer-campaign-summary-text {
  margin-top: 85px;
  margin-left: 74px;
  font-family: Crimson Text;
  width: 517px;
  height: 395px;
}
#spring-summer-campaign .spring-summer-campaign-summary .spring-summer-campaign-summary-items .spring-summer-campaign-summary-text h4 {
  width: 300px;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}
#spring-summer-campaign .spring-summer-campaign-summary .spring-summer-campaign-summary-items .spring-summer-campaign-summary-text p {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 80px;
}
#spring-summer-campaign .spring-summer-campaign-summary .spring-summer-campaign-summary-items img {
  margin-left: 91px;
  margin-top: 167px;
  width: 600px;
  height: 393.94px;
}

#brand-video {
  margin-top: 175px;
  background-image: url("/assets/images/image 9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 328px 730px 248px 726px;
}
#brand-video .video-items {
  position: relative;
}
#brand-video .video-items img {
  width: 145px;
  height: 145px;
  display: block;
  margin: auto;
}
#brand-video .video-items .video-item {
  position: absolute;
  top: 20px;
  left: 166px;
}
#brand-video .video-items .video-item img {
  background-color: aqua;
  width: 26px;
  height: 26px;
  padding: 60px 57px 59px 62px;
}

#aphorism {
  margin-top: 168px;
}
#aphorism .aphorism-summary {
  font-family: "Crimson Text";
  text-align: center;
}
#aphorism .aphorism-summary .aphorism-text {
  font-weight: 400;
  font-size: 30px;
  line-height: 134%;
  width: 941px;
  height: 117px;
  margin: auto;
}
#aphorism .aphorism-summary .aphorism-author {
  width: 103px;
  height: 27px;
  font-weight: 400;
  font-size: 20px;
  line-height: 134%;
  margin: auto;
  margin-top: 43px;
  color: #9f9f9f;
  text-align: center;
}

#women {
  margin-top: 168px;
}
#women .women-summary {
  display: flex;
  font-family: "Crimson Text";
}
#women .women-summary .women-summary-text {
  margin-left: 52px;
  margin-top: 101px;
}
#women .women-summary .women-summary-text h4 {
  width: 165px;
  height: 67px;
  font-weight: 400;
  font-size: 50px;
  line-height: 134%;
}
#women .women-summary .women-summary-text p {
  width: 607px;
  height: 86px;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  margin-top: 43px;
}

#slideshow {
  margin-top: 70px;
  /* Fading animation */
}
#slideshow .slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
#slideshow img {
  width: 100%;
  height: 800px;
}
#slideshow .mySlides {
  display: none;
}
#slideshow .prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#slideshow .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  right: 0;
  border-radius: 3px 0 0 3px;
}
#slideshow .prev:hover,
#slideshow .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
#slideshow .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
#slideshow .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
#slideshow .active,
#slideshow .dot:hover {
  background-color: #717171;
}
#slideshow .fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#men {
  margin-top: 52px;
}
#men .men-summary {
  display: flex;
  font-family: "Crimson Text";
}
#men .men-summary .men-summary-text {
  margin-right: 84px;
  margin-top: 167px;
  margin-left: 140px;
}
#men .men-summary .men-summary-text h4 {
  width: 92px;
  height: 67px;
  font-weight: 400;
  font-size: 50px;
  line-height: 134%;
}
#men .men-summary .men-summary-text p {
  width: 517px;
  height: 86px;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  margin-top: 22px;
}
#men .men-summary .men-summary-items img {
  width: 350px;
  height: 600px;
}

#essay-on-about-fashion {
  margin-top: 159.64px;
  background-color: #e6e7ec;
}
#essay-on-about-fashion .essay-on-about-fashion-summary {
  display: flex;
}
#essay-on-about-fashion .essay-on-about-fashion-summary .essay-on-about-fashion-summary-text {
  padding-top: 82px;
  font-family: "Crimson Text";
}
#essay-on-about-fashion .essay-on-about-fashion-summary .essay-on-about-fashion-summary-text h5 {
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}
#essay-on-about-fashion .essay-on-about-fashion-summary .essay-on-about-fashion-summary-text p {
  margin-top: 49px;
  font-size: 23px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  width: 905px;
  height: 261px;
}

.reade-more-btn {
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  padding: 22px 98px 22px 97px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #5a5a5a;
}

#our-pics-for-you {
  padding: 157px 0px;
  margin-bottom: 150px;
  width: 100%;
  height: 90vh;
}
#our-pics-for-you .our-pics-header {
  display: flex;
  justify-content: space-between;
}
#our-pics-for-you .our-pics-header h1 {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.49px;
  display: inline-block;
}
#our-pics-for-you .our-pics-header a {
  text-decoration: none;
  font-family: "Crimson Text", serif;
  font-size: 17px;
  line-height: 22.1px;
  color: #7a7a7a;
}
#our-pics-for-you .our-pics-items {
  padding-top: 27px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 63px;
}
#our-pics-for-you .our-pics-items .our-pics-item img {
  padding-bottom: 30.78px;
  width: 250px;
  height: 375.22px;
}
#our-pics-for-you .our-pics-items .our-pics-item p {
  width: 283px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
#our-pics-for-you .our-pics-items .our-pics-item p:last-child {
  padding-top: 10px;
}

#fashion-and-style .fashion-and-style-summary {
  display: flex;
  justify-content: space-between;
}
#fashion-and-style .fashion-and-style-summary .fashion-and-style-summary-items .fashion-and-style-summary-text {
  width: 480px;
  font-family: "Crimson Text";
}
#fashion-and-style .fashion-and-style-summary .fashion-and-style-summary-items .fashion-and-style-summary-text h4 {
  width: 276px;
  height: 55px;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}
#fashion-and-style .fashion-and-style-summary .fashion-and-style-summary-items .fashion-and-style-summary-text p {
  margin-top: 60px;
  font-weight: 400;
  font-size: 27px;
  line-height: 35px;
  margin-bottom: 50px;
}
#fashion-and-style .fashion-and-style-summary .fashion-and-style-summary-items img {
  margin-top: 195px;
  width: 512px;
  height: 342px;
}
#fashion-and-style .fashion-and-style-summary img {
  width: 540px;
  height: 734px;
}

footer {
  margin-top: 191px;
  background-color: black;
  color: #e9e5e5;
  font-family: Crimson Text;
}
footer h5 {
  color: #dfdddd;
  font-family: "Crimson Text";
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
footer .categories {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
  border-bottom: 1px solid #515151;
}
footer .categories ul {
  list-style-type: none;
}
footer .categories ul li {
  margin-top: 13px;
}
footer .categories ul li a {
  text-decoration: none;
  width: 131px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #e9e5e5;
}
footer .categories .product {
  padding-top: 54px;
}
footer .categories .product ul {
  padding-top: 16px;
}
footer .categories .company {
  padding-top: 47px;
}
footer .categories .company ul {
  padding-top: 10px;
}
footer .categories .assisntance {
  padding-top: 41px;
}
footer .categories .assisntance ul {
  padding-top: 10px;
}
footer .contact {
  margin-top: 37px;
  display: flex;
  justify-content: space-between;
}
footer .contact .social-medias p {
  padding-top: 6px;
  width: 141px;
  height: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
footer .contact .social-medias img {
  margin-top: 12px;
  width: 89px;
  height: 27px;
  margin-left: -12px;
  margin-bottom: 101px;
}
footer .contact .subscribe-for-exclusive form input[type=email] {
  margin-top: 29px;
  width: 300px;
  height: 25px;
  font-family: "Crimson Text";
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #6b6969;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #504f4f;
  padding-bottom: 7.25px;
}
footer .contact .subscribe-for-exclusive form input[type=email]:focus {
  border: none;
}
footer .contact .subscribe-for-exclusive form button {
  background-color: transparent;
  margin-left: 25.03px;
  cursor: pointer;
}
footer .contact .subscribe-for-exclusive form button img {
  width: 15px;
}
footer .contact .shipping label {
  width: 151px;
  height: 25px;
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #6b6969;
  margin-right: 10px;
}
footer .contact .shipping input {
  border: none;
  background-color: transparent;
  color: white;
}

@media only screen and (max-width: 376px) {
  .shop-now-btn {
    font-size: 8px;
    line-height: 11px;
    padding: 11px 50px;
    margin-top: 33px;
  }
  nav {
    display: block;
    padding: 20px 0px 21px 0px;
  }
  nav ul {
    padding-top: 5px;
  }
  nav ul a {
    font-size: 9px;
    line-height: 10px;
  }
  #spring-summer-2020 {
    height: 437px;
  }
  #spring-summer-2020 .spring-summer-summary h1 {
    font-size: 30px;
    line-height: 25px;
    width: auto;
    height: auto;
  }
  #spring-summer-2020 .spring-summer-summary button {
    height: 46px;
  }
  #new-arrivals {
    padding: 40px 0px;
    width: 100%;
    height: 57vh;
  }
  #new-arrivals .new-arrivals-header h1 {
    font-size: 20px;
    line-height: 25px;
  }
  #new-arrivals .new-arrivals-header a {
    text-decoration: none;
    font-family: "Crimson Text", serif;
    font-size: 17px;
    line-height: 22.1px;
    color: #7a7a7a;
  }
  #new-arrivals .new-arrivals-items {
    padding-top: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
  }
  #new-arrivals .new-arrivals-items .new-arrivals-item img {
    padding-bottom: 16px;
    width: 125px;
    height: 185px;
  }
  #new-arrivals .new-arrivals-items .new-arrivals-item p {
    width: 125px;
    height: auto;
    font-size: 8px;
    line-height: 11px;
  }
  #new-arrivals .new-arrivals-items .new-arrivals-item p:last-child {
    padding-top: 5px;
  }
  #spring-summer-campaign .spring-summer-campaign-summary {
    display: flex;
  }
  #spring-summer-campaign .spring-summer-campaign-summary img {
    width: 170px;
    height: 250px;
  }
  #spring-summer-campaign .spring-summer-campaign-summary .spring-summer-campaign-summary-items .spring-summer-campaign-summary-text {
    height: 190px;
    margin-top: 20px;
    margin-left: 15px;
    width: 150px;
  }
  #spring-summer-campaign .spring-summer-campaign-summary .spring-summer-campaign-summary-items .spring-summer-campaign-summary-text h4 {
    width: 150px;
    font-size: 15px;
    line-height: 18px;
  }
  #spring-summer-campaign .spring-summer-campaign-summary .spring-summer-campaign-summary-items .spring-summer-campaign-summary-text p {
    font-size: 12px;
    line-height: 15px;
    margin-top: 20px;
  }
  #spring-summer-campaign .spring-summer-campaign-summary .spring-summer-campaign-summary-items img {
    margin-left: -98px;
    margin-top: 100px;
    width: 270px;
    height: 170px;
  }
  #brand-video {
    margin-top: 65px;
    padding: 80px 180px 60px 180px;
  }
  #brand-video .video-items img {
    width: 70px;
    height: 70px;
  }
  #aphorism {
    margin-top: 60px;
  }
  #aphorism .aphorism-summary .aphorism-text {
    font-size: 15px;
    width: 350px;
    height: 50px;
  }
  #aphorism .aphorism-summary .aphorism-author {
    font-size: 16px;
  }
  #women {
    margin-top: 65px;
  }
  #women .women-summary {
    display: block;
  }
  #women .women-summary img {
    width: 100%;
    height: auto;
  }
  #women .women-summary .women-summary-text {
    margin-left: 0px;
    margin-top: 15px;
  }
  #women .women-summary .women-summary-text h4 {
    height: auto;
    font-size: 25px;
    line-height: 134%;
  }
  #women .women-summary .women-summary-text p {
    width: auto;
    height: auto;
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
  }
  #slideshow {
    margin-top: 30px;
  }
  #slideshow img {
    height: 200px;
  }
  #men {
    margin-top: 25px;
  }
  #men .men-summary {
    display: block;
  }
  #men .men-summary .men-summary-text {
    width: 345px;
    height: auto;
    margin-top: 15px;
    margin-left: 17px;
  }
  #men .men-summary .men-summary-text h4 {
    font-size: 25px;
    line-height: 134%;
    height: auto;
  }
  #men .men-summary .men-summary-text p {
    width: auto;
    height: auto;
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
  }
  #men .men-summary .men-summary-items {
    margin-top: 20px;
  }
  #men .men-summary .men-summary-items img {
    margin-left: 15px;
    width: 345px;
    height: 395px;
  }
  #essay-on-about-fashion {
    margin-top: 20px;
  }
  #essay-on-about-fashion .essay-on-about-fashion-summary {
    display: block;
  }
  #essay-on-about-fashion .essay-on-about-fashion-summary img {
    width: 100%;
    height: auto;
  }
  #essay-on-about-fashion .essay-on-about-fashion-summary .essay-on-about-fashion-summary-text {
    padding-top: 10px;
    padding-left: 15px;
  }
  #essay-on-about-fashion .essay-on-about-fashion-summary .essay-on-about-fashion-summary-text h5 {
    font-size: 20px;
    line-height: 26px;
  }
  #essay-on-about-fashion .essay-on-about-fashion-summary .essay-on-about-fashion-summary-text p {
    margin-top: 10px;
    font-size: 12px;
    width: 350px;
    height: auto;
    line-height: 15px;
  }
  .reade-more-btn {
    margin: 10px 0px;
    font-size: 8px;
    line-height: 11px;
    padding: 11px 47px 11px 47px;
  }
  #our-pics-for-you {
    padding: 40px 0px;
    width: 100%;
    height: 57vh;
  }
  #our-pics-for-you .our-pics-header {
    display: flex;
    justify-content: space-between;
  }
  #our-pics-for-you .our-pics-header h1 {
    font-size: 20px;
    line-height: 25px;
  }
  #our-pics-for-you .our-pics-header a {
    text-decoration: none;
    font-family: "Crimson Text", serif;
    font-size: 17px;
    line-height: 22.1px;
    color: #7a7a7a;
  }
  #our-pics-for-you .our-pics-items {
    padding-top: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
  }
  #our-pics-for-you .our-pics-items .our-pics-item img {
    padding-bottom: 16px;
    width: 125px;
    height: 185px;
  }
  #our-pics-for-you .our-pics-items .our-pics-item p {
    width: 125px;
    height: auto;
    font-size: 8px;
    line-height: 11px;
  }
  #our-pics-for-you .our-pics-items .our-pics-item p:last-child {
    padding-top: 5px;
  }
  #fashion-and-style .fashion-and-style-summary {
    display: block;
  }
  #fashion-and-style .fashion-and-style-summary .fashion-and-style-summary-items .fashion-and-style-summary-text {
    width: 300px;
    height: auto;
    padding: 0 10px;
  }
  #fashion-and-style .fashion-and-style-summary .fashion-and-style-summary-items .fashion-and-style-summary-text h4 {
    width: auto;
    height: auto;
    font-size: 20px;
    line-height: 25px;
  }
  #fashion-and-style .fashion-and-style-summary .fashion-and-style-summary-items .fashion-and-style-summary-text p {
    margin-top: 20px;
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 25px;
  }
  #fashion-and-style .fashion-and-style-summary .fashion-and-style-summary-items img {
    margin-top: 20px;
    width: 320px;
    height: 200px;
    display: block;
    margin: auto;
  }
  #fashion-and-style .fashion-and-style-summary img {
    display: block;
    margin: auto;
    width: 320px;
    height: 280px;
    margin-top: 20px;
  }
  footer {
    margin-top: 25px;
  }
  footer h5 {
    font-size: 9px;
    line-height: 12px;
  }
  footer .categories {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    border-bottom: 1px solid #515151;
  }
  footer .categories ul {
    list-style-type: none;
  }
  footer .categories ul li {
    margin-top: 6px;
  }
  footer .categories ul li a {
    text-decoration: none;
    width: 65px;
    font-size: 10px;
    line-height: 12px;
  }
  footer .categories .product {
    padding-top: 27px;
  }
  footer .categories .product ul {
    padding-top: 8px;
  }
  footer .categories .company {
    padding-top: 23px;
  }
  footer .categories .company ul {
    padding-top: 5px;
  }
  footer .categories .assisntance {
    padding-top: 20px;
  }
  footer .categories .assisntance ul {
    padding-top: 5px;
  }
  footer .contact {
    margin-top: 18px;
  }
  footer .contact .social-medias p {
    padding-top: 3px;
    width: auto;
    height: 12px;
    font-size: 10px;
    line-height: 12px;
  }
  footer .contact .social-medias img {
    margin-top: 12px;
    width: 89px;
    height: 27px;
    margin-left: -12px;
    margin-bottom: 101px;
  }
  footer .contact .subscribe-for-exclusive form input[type=email] {
    margin-top: 14px;
    width: 120px;
    height: 12px;
    font-size: 10px;
    line-height: 12px;
    padding-bottom: 4px;
  }
  footer .contact .subscribe-for-exclusive form button {
    margin-left: 0px;
  }
  footer .contact .subscribe-for-exclusive form button img {
    width: 15px;
  }
  footer .contact .shipping label {
    width: 75px;
    height: 12px;
    font-size: 10px;
    line-height: 12px;
    margin-right: 5px;
  }
  footer .contact .shipping select {
    width: 20px;
  }
}
@media only screen and (max-width: 813px) {
  .shop-now-btn {
    font-size: 8px;
    line-height: 11px;
    padding: 11px 50px;
    margin-top: 33px;
  }
  nav {
    display: flex;
    padding: 20px 0px 21px 0px;
  }
  nav ul {
    padding-top: 5px;
  }
  nav ul a {
    font-size: 9px;
    line-height: 10px;
  }
  #spring-summer-2020 {
    height: 437px;
  }
  #spring-summer-2020 .spring-summer-summary h1 {
    font-size: 30px;
    line-height: 25px;
    width: auto;
    height: auto;
  }
  #spring-summer-2020 .spring-summer-summary button {
    height: 46px;
  }
  #new-arrivals {
    padding: 40px 0px;
    width: 100%;
    height: 57vh;
  }
  #new-arrivals .new-arrivals-header h1 {
    font-size: 20px;
    line-height: 25px;
  }
  #new-arrivals .new-arrivals-header a {
    text-decoration: none;
    font-family: "Crimson Text", serif;
    font-size: 17px;
    line-height: 22.1px;
    color: #7a7a7a;
  }
  #new-arrivals .new-arrivals-items {
    padding-top: 14px;
    display: grid;
    grid-gap: 25px;
  }
  #new-arrivals .new-arrivals-items .new-arrivals-item img {
    padding-bottom: 16px;
    width: 125px;
    height: 185px;
  }
  #new-arrivals .new-arrivals-items .new-arrivals-item p {
    width: 125px;
    height: auto;
    font-size: 8px;
    line-height: 11px;
  }
  #new-arrivals .new-arrivals-items .new-arrivals-item p:last-child {
    padding-top: 5px;
  }
  #spring-summer-campaign .spring-summer-campaign-summary {
    display: flex;
  }
  #spring-summer-campaign .spring-summer-campaign-summary img {
    width: 170px;
    height: 250px;
  }
  #spring-summer-campaign .spring-summer-campaign-summary .spring-summer-campaign-summary-items .spring-summer-campaign-summary-text {
    height: 190px;
    margin-top: 20px;
    margin-left: 15px;
    width: 150px;
  }
  #spring-summer-campaign .spring-summer-campaign-summary .spring-summer-campaign-summary-items .spring-summer-campaign-summary-text h4 {
    width: 150px;
    font-size: 15px;
    line-height: 18px;
  }
  #spring-summer-campaign .spring-summer-campaign-summary .spring-summer-campaign-summary-items .spring-summer-campaign-summary-text p {
    font-size: 12px;
    line-height: 15px;
    margin-top: 20px;
  }
  #spring-summer-campaign .spring-summer-campaign-summary .spring-summer-campaign-summary-items img {
    margin-left: -98px;
    margin-top: 100px;
    width: 270px;
    height: 170px;
  }
  #brand-video {
    margin-top: 65px;
    padding: 80px 180px 60px 180px;
  }
  #brand-video .video-items img {
    width: 70px;
    height: 70px;
  }
  #aphorism {
    margin-top: 60px;
  }
  #aphorism .aphorism-summary .aphorism-text {
    font-size: 15px;
    width: 350px;
    height: 50px;
  }
  #aphorism .aphorism-summary .aphorism-author {
    font-size: 16px;
  }
  #women {
    margin-top: 65px;
  }
  #women .women-summary {
    display: block;
  }
  #women .women-summary img {
    width: 100%;
    height: auto;
  }
  #women .women-summary .women-summary-text {
    margin-left: 0px;
    margin-top: 15px;
  }
  #women .women-summary .women-summary-text h4 {
    height: auto;
    font-size: 25px;
    line-height: 134%;
  }
  #women .women-summary .women-summary-text p {
    width: auto;
    height: auto;
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
  }
  #slideshow {
    margin-top: 30px;
  }
  #slideshow img {
    height: 200px;
  }
  #men {
    margin-top: 25px;
  }
  #men .men-summary {
    display: block;
  }
  #men .men-summary .men-summary-text {
    width: 345px;
    height: auto;
    margin-top: 15px;
    margin-left: 17px;
  }
  #men .men-summary .men-summary-text h4 {
    font-size: 25px;
    line-height: 134%;
    height: auto;
  }
  #men .men-summary .men-summary-text p {
    width: auto;
    height: auto;
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
  }
  #men .men-summary .men-summary-items {
    margin-top: 20px;
  }
  #men .men-summary .men-summary-items img {
    margin-left: 15px;
    width: 345px;
    height: 395px;
  }
  #essay-on-about-fashion {
    margin-top: 20px;
  }
  #essay-on-about-fashion .essay-on-about-fashion-summary {
    display: block;
  }
  #essay-on-about-fashion .essay-on-about-fashion-summary img {
    width: 100%;
    height: auto;
  }
  #essay-on-about-fashion .essay-on-about-fashion-summary .essay-on-about-fashion-summary-text {
    padding-top: 10px;
    padding-left: 15px;
  }
  #essay-on-about-fashion .essay-on-about-fashion-summary .essay-on-about-fashion-summary-text h5 {
    font-size: 20px;
    line-height: 26px;
  }
  #essay-on-about-fashion .essay-on-about-fashion-summary .essay-on-about-fashion-summary-text p {
    margin-top: 10px;
    font-size: 12px;
    width: 350px;
    height: auto;
    line-height: 15px;
  }
  .reade-more-btn {
    margin: 10px 0px;
    font-size: 8px;
    line-height: 11px;
    padding: 11px 47px 11px 47px;
  }
  #our-pics-for-you {
    padding: 40px 0px;
    width: 100%;
    height: 57vh;
  }
  #our-pics-for-you .our-pics-header {
    display: flex;
    justify-content: space-between;
  }
  #our-pics-for-you .our-pics-header h1 {
    font-size: 20px;
    line-height: 25px;
  }
  #our-pics-for-you .our-pics-header a {
    text-decoration: none;
    font-family: "Crimson Text", serif;
    font-size: 17px;
    line-height: 22.1px;
    color: #7a7a7a;
  }
  #our-pics-for-you .our-pics-items {
    padding-top: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
  }
  #our-pics-for-you .our-pics-items .our-pics-item img {
    padding-bottom: 16px;
    width: 125px;
    height: 185px;
  }
  #our-pics-for-you .our-pics-items .our-pics-item p {
    width: 125px;
    height: auto;
    font-size: 8px;
    line-height: 11px;
  }
  #our-pics-for-you .our-pics-items .our-pics-item p:last-child {
    padding-top: 5px;
  }
  #fashion-and-style .fashion-and-style-summary {
    display: block;
  }
  #fashion-and-style .fashion-and-style-summary .fashion-and-style-summary-items .fashion-and-style-summary-text {
    width: 300px;
    height: auto;
    padding: 0 10px;
  }
  #fashion-and-style .fashion-and-style-summary .fashion-and-style-summary-items .fashion-and-style-summary-text h4 {
    width: auto;
    height: auto;
    font-size: 20px;
    line-height: 25px;
  }
  #fashion-and-style .fashion-and-style-summary .fashion-and-style-summary-items .fashion-and-style-summary-text p {
    margin-top: 20px;
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 25px;
  }
  #fashion-and-style .fashion-and-style-summary .fashion-and-style-summary-items img {
    margin-top: 20px;
    width: 320px;
    height: 200px;
    display: block;
    margin: auto;
  }
  #fashion-and-style .fashion-and-style-summary img {
    display: block;
    margin: auto;
    width: 320px;
    height: 280px;
    margin-top: 20px;
  }
  footer {
    margin-top: 25px;
  }
  footer h5 {
    font-size: 9px;
    line-height: 12px;
  }
  footer .categories {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    border-bottom: 1px solid #515151;
  }
  footer .categories ul {
    list-style-type: none;
  }
  footer .categories ul li {
    margin-top: 6px;
  }
  footer .categories ul li a {
    text-decoration: none;
    width: 65px;
    font-size: 10px;
    line-height: 12px;
  }
  footer .categories .product {
    padding-top: 27px;
  }
  footer .categories .product ul {
    padding-top: 8px;
  }
  footer .categories .company {
    padding-top: 23px;
  }
  footer .categories .company ul {
    padding-top: 5px;
  }
  footer .categories .assisntance {
    padding-top: 20px;
  }
  footer .categories .assisntance ul {
    padding-top: 5px;
  }
  footer .contact {
    margin-top: 18px;
  }
  footer .contact .social-medias p {
    padding-top: 3px;
    width: auto;
    height: 12px;
    font-size: 10px;
    line-height: 12px;
  }
  footer .contact .social-medias img {
    margin-top: 12px;
    width: 89px;
    height: 27px;
    margin-left: -12px;
    margin-bottom: 101px;
  }
  footer .contact .subscribe-for-exclusive form input[type=email] {
    margin-top: 14px;
    width: 120px;
    height: 12px;
    font-size: 10px;
    line-height: 12px;
    padding-bottom: 4px;
  }
  footer .contact .subscribe-for-exclusive form button {
    margin-left: 0px;
  }
  footer .contact .subscribe-for-exclusive form button img {
    width: 15px;
  }
  footer .contact .shipping label {
    width: 75px;
    height: 12px;
    font-size: 10px;
    line-height: 12px;
    margin-right: 5px;
  }
  footer .contact .shipping select {
    width: 20px;
  }
}/*# sourceMappingURL=main.css.map */